{
    "presets": [
      [
        "env", {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": ["dynamic-import-node", "transform-typescript"]
  }
  