{
	"extends": [
			"airbnb-base",
			"plugin:@typescript-eslint/recommended"
	],
	"settings": {
		"import/resolver": {
				"node": {
					"extensions": [
						".js",
						".jsx",
						".ts",
						".tsx"
					]
				}
		}
	},

	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"plugins": [
		"@typescript-eslint"
	],
	"env": {
		"es6": true
	},
	"rules": {
		"max-len": "off",
		"require-jsdoc": "off",
		"import/no-cycle": "off",
		"linebreak-style": 0,
		"no-param-reassign": 0,
		"no-shadow": "off",
		"@typescript-eslint/no-var-requires": 0,
		"import/extensions": 0,
		"@typescript-eslint/ban-ts-ignore": "off",
		"indent": "off",
		"@typescript-eslint/indent": ["error", 2],
		"@typescript-eslint/ban-types": "off",
		"func-names": ["error", "never"],
		"arrow-parens": [2, "as-needed"],
		"no-underscore-dangle": [
			"error",
			{
				"allowAfterThis": true
			}
		]
	},
	"overrides": [
		{
			"files": [
				"*.ts"
			],
			"rules": {
				"@typescript-eslint/explicit-function-return-type": [
						"error"
				],
				"arrow-parens": [
					2,
					"as-needed"
				]
			}
		}
	]
}
